body {
    background-color: #272727;
    padding: 10px;
  }
  
  .fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }

  
.fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  p{
      color: #fff;
  }

  .tool1{
    width: 200px;
    height: 180px;
  }

  .commentsection{
    flex-direction: column;
    text-align: justify;
    height: 40vh;
  }
ion-footer{
    padding: 1em;
}
  ion-input
    {
        border-radius: 10px !important;
        
        margin-bottom: 1em;
        font-size: 0.9em;
        border: 1px solid #f1f1f1 !important;
        --background: #222831 !important;
        max-width: 80vw;
        max-height: 2em;
        color: #fff;
    
  }
  
  .fakeMenu {
    width: 100%;
    box-sizing: border-box;
    height: 25px;
    background-color: #e3e3e3;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .line1 {
    color: #00f100;
  }

  .cursor1{
      color: #e3e3e3;
  }