.k{
  height: 100px;
}
.card-ios{
  margin: 8px;
}
.img{
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 4px;
}

.searchi{
  padding: 1px;
}


.med{
  color: #e3e3e3;
}
ion-label{
  padding-left: 6px;
}
.category{
  color: #393E46;
  font-size: smaller;
}

